*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    width: auto;
    height: auto;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: url('/img/forestbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    width: 100%;
    max-width: 600px;

}
.side-heading, .fill{
    text-align: left;
    color: white;
    padding: 13px 5px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;


}
input, textarea{
    width: 100%;
    padding: 15px;
    outline: 0;
    border: none;
    color: black;
    background: white;
    font-size: 14px;

}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 15px 10px;
    color: black;
    font-size: 14px;
    outline: none;
    background: #a3c7b3;
    border: none;
    width: 21%;
    cursor: pointer;

}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{ 
     top: 35px;
     font-size: 14px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}